llama-index==0.14.23
llama-index-embeddings-huggingface==0.7.0
llama-index-llms-ollama==0.10.1
llama-index-vector-stores-faiss==0.6.0
faiss-cpu==1.14.3
sentence-transformers==5.6.1
fastapi==0.141.1
uvicorn==0.52.0
python-multipart==0.0.32
pandas==3.0.5
ragas==0.4.3
datasets==5.0.1
langchain-ollama==1.1.0
langchain-huggingface==1.2.2
langchain-community==0.3.31
langchain-google-vertexai==3.2.4
